<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eparking.eparking.dao.ReservationMapper">

    <select id="getReservationDetailByReservationID" resultType="com.eparking.eparking.domain.Reservation">
        SELECT
        reserveID,
        phoneNumber,
        parkingID,
        statusID,
        carID,
        startDateTime,
        endDatetime
        FROM Reservation
        where reserveID = #{reserveID}
    </select>

</mapper>